{% extends "layout.html" %}

{% block main %}

<div class="row">
    <div class="p-5">
        <div id="main" style="width: 1000px;height:500px;">
            {% if videos %}
            <h2>Videos</h2> 
            <div class="list-group">
                {% for v in videos %}
                    <a href="{{url_for('video',filename=v)}}" class="list-group-item list-group-item-action">{{v}}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}